<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings>
 <category label="30012">
   <setting id="enable_timeout" type="bool" label="30020" default="true" />
   <setting id="MinUserInactivity" type="number" label="30013" subsetting="true" default=300 option="int" enable="eq(-1,true)"/>   
   <setting id="overrun" type="enum" label="30014" subsetting="true" values="1 Min|2 Min|5 Min|10 Min|15 Min|20 Min" default="2" enable="eq(-2,true)"/>
   <setting id="MinEventTimeout" type="number" label="30015" subsetting="true" default=30 option="int"/>
   <setting id="enable_notifications" type="bool" label="30021" default="false" />
   <setting id="enable_debug" type="bool" label="Debug" default="false" />
 </category>
 <category label="30011">
   <setting id="MarginStart" type="number" label="30022" default="2" option="int" />
   <setting id="MarginStop" type="number" label="30023" default="10" option="int"/>   
   <setting id="DefaultPriority" type="number" label="30024" default="50" option="int"/>
   <setting id="DefaultLifetime" type="number" label="30025" default="99" option="int"/>
   <!--<setting id="DumpNaluFill" type="bool" label="30026" default="true" />-->
   <setting id="MaxVideoFileSize" type="number" label="30027" default="2000" option="int" />
 </category>
</settings>
